<!DOCTYPE html>
<html>
   <title>
      AJS Simple Calculator
   </title>
   <head>
      <script type="text/javascript"
         src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
      <script>
         var app=angular.module("calcApp",[]);
         app.controller("calcCntrl",function($scope)
         {
         $scope.num1=0
         $scope.num2=0
         $scope.result=0
         $scope.operator=" + "
         $scope.compute=function(){
         switch($scope.operator){
         case '+': $scope.result=$scope.num1 + $scope.num2
         break
         case '-': $scope.result=$scope.num1 - $scope.num2
         break
         case '*': $scope.result=$scope.num1 * $scope.num2
         break
         case '/': if($scope.num2==0){
         alert("Divide by zero error")
         }
         else{
         $scope.result=$scope.num1/$scope.num2
         }}}
         });
      </script>
   </head>
   <body ng-app="calcApp">
      <h1>Angular JS Simple Calculator</h1>
      <div ng-controller="calcCntrl">
         Enter First Number: <input type="number" ng-model="num1"><br><br><br>
         Select Operator:
         <select ng-model="operator">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
         </select><br><br><br>
         Enter Second Number:<input type="number" ng-model="num2"><br><br>
         <button ng-click="compute()">Compute</button>
         <br/><br><br>
         <b>{{num1 + "  "+operator+ "  "+ num2+ " = "+result}}</b>
      </div>
   </body>
</html>
